.layout{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.layout main{
    flex:1;
    overflow-y: scroll;
}
.layout footer{
    width:100%;
    height:100px;
    background:pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}